@font-face {
    font-family: Switzer;
    src: url('Switzer/Switzer-Bold.ttf');
}
@font-face {
    font-family: Switzer-bold;
    src: url('Switzer/Switzer-Extrabold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Switzer;
    box-sizing: border-box;
    color: #111;
}

/*#111111 black
  #FF7F11 orange
  #EDE5E1 white*/
body {
    background-color: #111;
}
#card{
    width: 90%;
    max-width: 470px;
    background-color: #fff;
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
#search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search input{
    border: 3px solid #111;
    background-color: transparent;
    outline: 0;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#search button{
    border: 0;
    background-color: transparent;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#search button img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#weather {
    display: none;
}
#weather-icon {
    margin-top: 30px;
    height: 180px;
    width: 180px;
}
#temp {
    font-family: Switzer-bold;
    font-size: 60px;
}
#city {
    font-family: Switzer-bold;
    font-size: 30px;
    margin-top: -10px;
}
#detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
#col {
    display: flex;
    align-items: center;
    text-align: left;
}
#col img{
    height: 40px;
    width: 40px;
    margin-right: 8px;
}
#humidity {
    font-size: 32px;
}
#wind {
    font-size: 32px;
}
#p {
    margin-top: -10px;
}
#error{
    text-align: left;
    margin-left: 100px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}